
<!DOCTYPE html>
<html>
<head> 
<h1>Welcome to my page!! </h1> 
</header>
<body>
  </h1>
<form action="/my-handling-form-page" method="post">
  <link rel="stylesheet" href="Styles.css.html">
</header>
  <ul>
    <li>
      <label for="name">Name:</label>
      <input type="text" id="name" name="user_name" />
    </li>
    <li>
      <label for="mail">E-mail:</label>
      <input type="email" id="mail" name="user_email" />
    </li>
    <li>
    <li class="button">
     <button type="submit">Submit</button>
      </li>

    </li>
  </ul>
</form>
<img src="/Users/udikshachandra/TECHIN509/tictactoe.jpeg" >
<img src="tictactoe.jpeg" width="300" height="300">
 <style>
   </html>   

