
<!DOCTYPE html>
<html>
  <h1>Welcome to my page!! </h1> 
  
    <body>

      <form method="post">
<!-- <form method="post">
        <link rel="stylesheet" href="Styles.css.html">
        <p>Choose whom you want to play with </p>
        <input type="radio" id="Another Player" name="whom" value="Another Player">
        <label for="Another Player">Another Player</label><br>
        <input type="radio" id="Bot" name="fav_language" value="Bot">
        <label for="Bot">Bot</label><br>
        <ul>
          <li>
            <label for="name1">Name1</label>
            <input  id="name1" value="{{ request.form['name1'] }}"></input> 
          </li>
          <li>
            <label for="name2">Name2</label>
            <input  id="name2" value="{{ request.form['name2'] }}"></input> 
          </li>
          <p>Note:- Please leave player2 blank if you want to play as a single player</p>
          <button type="submit">Submit</button>
          </li>
        </ul>
      </form> -->
      <form>
        <div class="form-outline ">

            <label for="name1">Name1</label>

            <br>

            <input class="form-label"  type="text" name="name1"

                placeholder="Name of Player1"

                value="{{ request.form['name1'] }}"></input>

            <br>

            <p>Whom do you want to play with</p>

            <input type="radio" name="options1" id="Anotherperson" value="Anotherperson"> Another Person </input><br>

            <input type="radio" name="options1" id="Bot" value="Bot"> Bot </input><br>

            <label for="name2">Name2</label>

            <br>

            <input class="form-label"  typre="text" name="name2" placeholder="Name of Player2"

                    value="{{ request.form['name2']}}">

            </input>

            <br>

            <button class="btn btn-primary btn-block "  type="submit">Submit</button>

            <br>

        </div>

    </form>
   
   
    
    </body>

</html>   

